*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
#nav-section    {
    background: #191B27;
    width: 100vw;
}
#small-logo {
    display: none;
}
#nav-menus  {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}
#nav-menus:hover    {
    background: #3FD3DD;
    border-radius: 5px;
}
#logo-name  {
    font-family: Montserrat;
    font-size: 20px; 
    font-weight: 600;
}
#nav-btn    {
    font-family: Roboto;
    background: #3FD3DD;
     font-size: 20px;
      padding: 12px 30px;
       color: white;
    box-shadow: none; 
    border: 1px solid #3FD3DD;
    border-radius: 5px; 
    font-weight: 500;
}
#jumbotron-section  {
    background-image: url('../images/jumbo-img.png');  
    background-repeat: no-repeat;
    background-size: cover; background-position: center;
     height: 53rem;
     width: 100vw;
}
#jumbotron-heading  {
    font-family: Montserrat;
    font-size: 72px;
}
#jumbotron-paragraph    {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
}
#biography-section  {
    background-image: url('../images/Rectangle.png'); 
    background-position: center; background-repeat: no-repeat; background-size: cover;
   
    width: 100vw;
}
#bio-img-one    {
    position: relative;
     top: 15px; 
     left: 20px;
}
#bio-img-two    {
    position: absolute;
     top: 70px; 
     left: 70px;
}
#bio-heading    {
    font-family: Montserrat;
    font-size: 40px; 
    line-height: 25px;
}
#bio-paragraph  {
    font-family: Roboto;
    font-size: 20px;
    line-height: 42px;
    text-align: left;
}

#tour-section   {
    background: #191B27;
    width: 100vw;
}
#tour-heading   {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
}
#small-screen-tour  {
    display: none;
}
#tour-img-one   {
    background-image: url('../images/Rectangle (5).png'); 
    background-position: center; background-repeat: no-repeat; background-size: cover;
}
#tour-div-inside    {
    background: rgba(63, 211, 221, 0.8); width: 100%; 
    position: absolute;
     bottom: 0;
      left: 0;
}
#tour-inside-heading    {
    font-family: Montserrat;
    font-size: 25px; 
    font-weight: 600;
}
#tour-inside-paragraph  {
    font-family: Roboto;
    font-size: 18px; 
    font-weight: 600;
}

#tour-img-two   {
    background-image: url('../images/Rectangle (3).svg'); 
    background-position: center; background-repeat: no-repeat; background-size: cover;
     height: 50rem;
}
#tour-img-three {
    background-image: url('../images/Rectangle (6).png');
     background-position: center; background-repeat: no-repeat; background-size: cover;
}

#video-section  {
    width: 100vw;
    background-image: url('../images/Rectangle1.png'); 
    background-position: center; background-repeat: no-repeat; background-size: cover; 
    height: 30rem;
    
}
#video-paragraph    {
    font-size: 36px;
    font-weight: 500;
}

#album-section  {
    background-image: url('../images/Rectangle (8).png'); 
    background-position: center; background-repeat: no-repeat; background-size: cover;
    width: 100vw;
}
#album-heading  {
    font-family: Montserrat;
    font-size: 40px;
     font-weight: 600;
}
#album-paragraph    {
    font-family: Roboto;
    font-size: 25px; 
    font-weight: 600;
}
#album-paragraph-two    {
    font-family: Roboto;
    line-height: 35px; 
    font-size: 20px;
}
#album-social-div   {
    border: 1px solid #7E7E7E;
    border-radius: 5px;
     padding: 2px 1px;
}

#contact-section    {
    background-image: url('../images/Rectangle (9).png');
     background-position: center; background-repeat: no-repeat; background-size: cover;
      height: 53rem;
      width: 100vw;
     
}
#contact-heading    {
    font-family: Montserrat;
    font-size: 40px; 
    font-weight: 600;
}
#contact-paragraph  {
    font-family: Roboto;
    font-size: 18px; 
    font-weight: 400;
}
#input   {
    background: none;
    color: white;
}

#contact-submit-btn {
    background: #3FD3DD;
     border-radius: 5px; 
     font-size: 20px; 
     font-weight: 600;
     box-shadow: none;
     border: 1px solid #3FD3DD;
     font-family: Roboto;
    
}

#contact-us-section {
    background: #191B27;
    width: 100vw;
}
#contact-us-heading {
    font-family: Montserrat;
    font-size: 36px;
    text-align: left;
}
#contact-us-paragraph   {
    font-family: Roboto;
    font-size: 20;
     line-height: 26px; 
     font-weight: 400;
}
#contact-us-btn {
    font-family: Roboto;
    background: #3FD3DD; 
    font-size: 20px;
     font-weight: 600;
     box-shadow: none;
     border: none;
     padding: 5px 20px;
}

#footer-section {
    background: #121318;
    width: 100vw;
}
#footer-paragraph   {
    font-family: Roboto;
    font-size: 20px; 
    font-weight: 400;
}
#smallscreen-footer-icons   {
    display: none;
}




/* Media Queries  */

/* Mobile Phones */

@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)  {
    #contact-us-btn {
 
        font-size: 10px;
         padding: 5px 8px;
    }
}


@media screen and (max-width: 760px)  {
    #nav-section    {
        width: 100vw;
    }
    #nav-menus  {
    
        font-size: 14px;
        
    }
    #small-logo {
        display: block;
    }
    #large-logo {
            display: none;
    }
    #logo-name  {
        font-family: Montserrat;
        font-size: 12px; 
        font-weight: 600;
        /* margin-left: -12rem; */
        display: inline;
       
    }
    #nav-btn    {
         font-size: 14px;
          padding: 8px 14px;
          
    }
    
#jumbotron-section  {
    background-image: url('../images/smalljumbo.png');  
    background-repeat: no-repeat;
    background-size: cover; background-position: center;
     height: 35rem;
     width: 100vw;
}
#jumbotron-heading  {
    font-family: Montserrat;
    font-size: 46px;
}
#jumbotron-paragraph    {
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;  
}
#biography-section  {
    background-image: url('../images/Rectangle.png'); 
    background-position: center; background-repeat: no-repeat; background-size: cover;

    width: 100vw;
}
#bio-img-one    {
    position: relative;
     top: 15px; 
     left: 20px;
     height: 15rem;
     width: 80%;
}
#bio-img-two    {
    position: absolute;
     top: 70px; 
     left: 70px;
     width: 80%;

}
#bio-heading    {
    font-family: Montserrat;
    font-size: 30px; 
    line-height: 25px;
}
#bio-paragraph  {
    font-family: Roboto;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
}

#large-screen-tour  {
    display: none;
}

#small-screen-tour  {
    display: contents;
    height: 35rem;
}
#tour-heading   {
    font-size: 30px;
}
#tour-div-inside    {
    width: 56%; 
    position: absolute;
     bottom: 0;
      left: 20%;
}
#tour-inside-heading    {
    font-family: Montserrat;
    font-size: 17px; 
   
}
#tour-inside-paragraph  {
    font-family: Roboto;
    font-size: 10px; 
   
}
#smallscreen-tour-img   {
    height: auto;
     width: 60%;
      margin: 0 auto;
      margin-left: 18%;
}
/* .carousel-control-next-icon:after   {
    content: '>';
    font-size: 50px;
    color: #3FD3DD;
}
.carousel-control-prev-icon:after   {
    content: '<';
    font-size: 50px;
    color: #3FD3DD;
} */

#video-paragraph    {
    font-size: 18px;
}
#video-section  {
    width: 100vw;
}
#album-section  {
    
}
#album-heading  {
    font-size: 30px;
}
#album-paragraph    {
    font-size: 20px; 
    text-align: center;
}
#album-paragraph-two    {
    line-height: 35px; 
    font-size: 17px;
    text-align: center;
}
#album-social-div   {

     padding: 0;
     padding-bottom: 1px;
    
}
#contact-section    {
    height: 40rem;
    width: 100vw;
}
#contact-heading    {
    font-size: 25px; 
}
#contact-paragraph  {
    font-size: 15px; 
    
}
#input   {
    background: none;
}
#contact-submit-btn {
     font-size: 12px; 
}

#contact-us-section {
   width: 100vw;
}
#contact-us-heading {
    font-size: 30px;
    text-align: center;
}
#contact-us-paragraph   {
    font-size: 14px;
     line-height: 26px; 
     text-align: center;
}
#contact-us-btn {
 
    font-size: 14px;
    
     padding: 5px 10px;
}

#footer-section {
    background: #121318;
}
#footer-paragraph   {
   
    font-size: 14px; 
}
#smallscreen-footer-icons   {
    display:contents;
}
/* #largescreen-footer-icons   {
    display: none;
} */

}


/* Tablets & Ipads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #contact-submit-btn {
       
         font-size: 17px; 
        
    }
}